@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
:root {
  font-family: Poppins;
  --height: 200px;
  --width: 200px
}

body{
  width: var(--width);
  height: var(--height);
  border: black solid 2px;
}
.extensionName{
  color:whitesmoke ;
  height: 40%;  
  font-size: 15px;
  width: var(--width);
  text-align: center;
  background-color: #a52a2a;
}

div.extensionName h2{
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

div.settings{
  display: flex;
  justify-content: center;
  height: 30%;
  width: var(--width);
}

div.settings h2{
  color: #a52a2a;
  margin: 2px 10px;
}

div.status{
  padding-right: 5px;
  padding-top: 5px;
}

div.overlaySettings{
  height: 30%;
  width: var(--width);
}

div.status input{
  margin:10px;
}
















.switch {
  float: right;
  position: relative;
  width: 50px;
  height: 28;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  margin-top: 3px;
  background-color: white;
  transition: .4s;
}
input:checked + .slider {
  background-color: #a52a2a;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  background-color: wheat;
  border: #a52a2a solid 2px;
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}